<form class="search-params"> <!--ng-show="insertNewRecord"-->
    <div class="row m-top-5vh">
        <div class=" col-md-4 col-lg-4">
            <input type="text" class="form-control" ng-model="newRecord.title" placeholder="Movie Title">
        </div>
        <div class=" col-md-4 col-lg-4">
            <input type="text" class="form-control" ng-model="newRecord.director" placeholder="Movie Director">
        </div>
        <div class=" col-md-2 col-lg-2">
            <input type="text" class="form-control" ng-model="newRecord.movie_length" placeholder="Movie Length">
        </div>
        <div class=" col-md-2 col-lg-2">
            <input type="text" class="form-control" ng-model="newRecord.movie_year" placeholder="Movie Year">
        </div>
    </div>
    <div class="row m-top-5vh">
        <div class=" col-md-4 col-lg-4">
            <input type="text" class="form-control" ng-model="newRecord.description" placeholder="Description">
        </div>
        <div class=" col-md-4 col-lg-4">
            <input type="text" class="form-control" ng-model="newRecord.imdb_url" placeholder="Link to IMDB">
        </div>
        <div class=" col-md-2 col-lg-2">
            <input type="text" class="form-control" ng-model="newRecord.writer" placeholder="Movie Writer">
        </div>
        <div class=" col-md-1 col-lg-1">
                <input type="text" class="form-control" ng-model="newRecord.imdb_rank" placeholder="Rank">
        </div>

        <div class=" col-md-1 col-lg-1">
            <button class="btn btn-warning col-md-12" type="button" ng-click="saveRecord(newRecord)">Add</button>
        </div>

    </div>

</form>

<!--
<table-head/>-->
