

<div class="row table-titles">
    <div class=" col-md-2 col-lg-2">
        Title
    </div>
    <div class=" col-md-1 col-lg-1">
        Director
    </div>
    <div class=" col-md-1 col-lg-1">
        Length
    </div>
    <div class=" col-md-1 col-lg-1">
        Year
    </div>
    <div class=" col-md-1 col-lg-1">
        IMDB rank
    </div>
    <div class=" col-md-1 col-lg-1">
        IMDB link
    </div>
    <div class=" col-md-1 col-lg-1">
        Writer
    </div>
    <div class=" col-md-2 col-lg-2">
        Description
    </div>
    <div class=" col-md-1 col-lg-1">
        Edit
    </div>
    <div class=" col-md-1 col-lg-1">
        Delete
    </div>
</div>

<div  class="main-table" ng-repeat="movie in movies" >

    <!-- view mode-->
    <div class="row table-params"  ng-hide="editing">
        <div class=" col-md-2 col-lg-2">
            {{movie.title}}
        </div>
        <div class=" col-md-1 col-lg-1">
            {{movie.director}}
        </div>
        <div class=" col-md-1 col-lg-1">
            {{movie.movie_length}}
        </div>
        <div class=" col-md-1 col-lg-1">
            {{movie.movie_year}}
        </div>
        <div class=" col-md-1 col-lg-1">
            {{movie.imdb_rank}}
        </div>
        <div class=" col-md-1 col-lg-1">
            <a href="{{movie.imdb_url}}" target="_blank" data-title="Delete">
                <span class="glyphicon glyphicon-film film-icon"></span>
            </a>
        </div>
        <div class=" col-md-1 col-lg-1">
            {{movie.writer}}
        </div>
        <div class=" col-md-2 col-lg-2">
            {{movie.description}}
        </div>
        <div class=" col-md-1 col-lg-1">
            <button ui-sref="edit" ui-sref-active="active" class="btn btn-primary btn-xs"><!-- ng-click="(editing=!editing)"-->
                <span class="glyphicon glyphicon-pencil"></span>
            </button>

        </div>
        <div class=" col-md-1 col-lg-1">
            <button class="btn btn-danger btn-xs  trash-icon" data-title="Delete" ng-click="deleteRecord(movie.id ,$index)" >
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
    <!--End view mode-->

    <!--Movies Form To Edit-->
  <!--  <movies-form/>-->




</div>