<!--form for editing mode-->
<form class="row table-params" ng-show="editing" ng-submit="editing = false">
    <div class=" col-md-2 col-lg-2">
        <input type="text" class="form-control" ng-model="movie.title" placeholder="Movie Title">
    </div>
    <div class=" col-md-1 col-lg-1">
        <input type="text" class="form-control" ng-model="movie.director" placeholder="Movie Director">
    </div>
    <div class=" col-md-1 col-lg-1">
        <input type="text" class="form-control" ng-model="movie.movie_length" placeholder="Movie Length">
    </div>
    <div class=" col-md-1 col-lg-1">
        <input type="text" class="form-control" ng-model="movie.movie_year" placeholder="Movie Year">
    </div>
    <div class=" col-md-1 col-lg-1">
        <input type="text" class="form-control" ng-model="movie.imdb_rank" placeholder="IMDB Rank">
    </div>
    <div class=" col-md-1 col-lg-1">
        <input type="text" class="form-control" ng-model="movie.imdb_url" placeholder="Link to IMDB">
    </div>
    <div class=" col-md-1 col-lg-1">
        <input type="text" class="form-control" ng-model="movie.writer" placeholder="Movie Writer">
    </div>
    <div class="col-md-2 col-lg-2">
        <textarea type="text" class="form-control" ng-model="movie.description" placeholder="Description"></textarea>
    </div>
    <div class=" col-md-1 col-lg-1">
        <button class="btn .btn-success btn-xs" ng-click="updateRecord(movie)">
            <span class="glyphicon glyphicon-saved"></span>
        </button>
    </div>
    <div class=" col-md-1 col-lg-1">
        <button class="btn btn-danger btn-xs" ng-click="deleteRecord(movie.id ,$index)" >
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</form>
<!--End of form for editing mode-->