
    <form class="search-form row search-row">
        <div class="col-md-8 col-lg-8 searchInput">
            <input type="text" class="form-control" ng-model="movieParams.keyword"
                   placeholder="Insert Movie Title">
        </div>

        <div class="col-md-2 col-lg-2">
            <button class="btn btn-primary col-lg-12 col-md-12" type="submit" ng-click="getList(movieParams)">Search</button>
        </div>
        <div class="col-md-2 col-lg-2">
        <button class="col-md-12" ng-class="insertNewRecord ? 'btn btn-danger' : 'btn btn-success'" ng-bind="newText" type="button" ng-click="editNewRecord()"></button>
        </div>
    </form>

    <!--<add-movie-form/>-->

