
    <div class="row table-titles">
        <div class=" col-md-2 col-lg-2">
            Title
        </div>
        <div class=" col-md-1 col-lg-1">
            Director
        </div>
        <div class=" col-md-1 col-lg-1">
            Length
        </div>
        <div class=" col-md-1 col-lg-1">
            Year
        </div>
        <div class=" col-md-1 col-lg-1">
            IMDB rank
        </div>
        <div class=" col-md-1 col-lg-1">
            IMDB link
        </div>
        <div class=" col-md-1 col-lg-1">
            Writer
        </div>
        <div class=" col-md-2 col-lg-2">
            Description
        </div>
        <div class=" col-md-1 col-lg-1">
            Edit
        </div>
        <div class=" col-md-1 col-lg-1">
            Delete
        </div>
    </div>

    <movies-table/>


