.m-top-5vh{
    margin-top: 4vh;
}
.main-table:nth-child(odd){
    background-color: #f3f5ff;
}
.table-titles{
    margin-top: 15px;
    font-weight: bolder;
    height: 30px;
}
.film-icon{
    transform: translate(133%,0px);
}

.trash-icon{
    transform: translate(30%,0px);
}

.search-row{
    margin-top: 20vh;
}

.search-params{
    background-color: #fffafa;
}
